@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  body {
    @apply bg-neutral-900 text-white;
  }
}

.portable-text h1 {
  @apply text-4xl font-extrabold mt-10;
}

.portable-text h2 {
  @apply text-3xl font-extrabold mt-10;
}

.portable-text h3 {
  @apply text-2xl font-extrabold mt-10;
}

.portable-text h4 {
  @apply text-xl font-extrabold mt-10;
}

.portable-text p {
  @apply mt-4 leading-loose;
}

.portable-text blockquote {
  @apply mt-4 pl-6 border-l-4 border-white/50 italic;
}

.portable-text ul {
  @apply mt-4 list-disc ml-10;
}

.portable-text a {
  @apply text-primary-500 underline underline-offset-4;
}

.portable-text strong {
  @apply font-extrabold;
}

.hero-portable-text strong {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
}
